{% extends 'adminBase.html' %}

{% block title %}
{{ subject.name }}
{% endblock %}

{% block link %}
{{ url_for('static', filename = 'src/adminShowSubject.css') }}
{% endblock %}

{% block bodyContent %}
    
        <div class="container-for-sub">
            <div class="subject-header">
                {% if subject.subject_image %}
                    <img src="{{ url_for('static', filename = subject.subject_image) }}" alt="{{ subject.name }}'s image" class="subject-image">
                {% else %}
                    <img src="{{ url_for('static', filename = 'whereIsTheSubjectImage.jpg') }}" alt="no subject image" class="subject-image">
                {% endif %}
                <div class="subject-info">
                    <h1>{{ subject.name }}</h1>
                    <p>{{ subject.description }}</p>
                    <div class="actions">
                        <a href="{{ url_for('edit_subject', subjectID = subject.subject_id) }}" class="submitButton">EDIT</a>
                        <a href="{{ url_for('delete_subject', subjectID = subject.subject_id) }}" class="submitButton">DELETE</a>
                    </div>
                </div>
            </div>

            <div class="chapters">
                <h2>Total Chapters: {{ subject.chapters|length }}</h2>
                <table>
                    <thead>
                        <tr>
                            <th>CHAPTER NAME</th>
                            <th>DESCRIPTION</th>
                            <th>QUIZZES</th>
                            <th class="options">OPTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if subject.chapters %}
                            {% for chapter in subject.chapters %}
                            <tr>
                                <td><a href="{{ url_for('show_chapter', subjectID = subject.subject_id, chapterID = chapter.chapter_id) }}">{{ chapter.name }}</a></td>
                                <td>{{ chapter.description }}</td>
                                <td>{{ chapter.quizzes|length }}</td>
                                <td class="options">
                                    <a href="{{ url_for('edit_chapter', subjectID = subject.subject_id, chapterID = chapter.chapter_id) }}" class="options-btn">Edit</a>
                                    <a href="{{ url_for('delete_chapter', subjectID = subject.subject_id, chapterID = chapter.chapter_id) }}" class="options-btn">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4" class="no-chap">Hmm.. doesn't look right :3 add a chapter maybe?</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    
{% endblock %}

{% block fixedButton %}
    <a href="{{ url_for('create_chapter', subjectID = subject.subject_id) }}" id="submitButton" class="add-chap-btn">Add Chapter</a>
{% endblock %}