{% extends "layout.html" %}

{% block title %}
User Login
{% endblock %}

{% block link %}
{{ url_for('static', filename='src/login.css') }}
{% endblock %}

{% block bodyContent %}
    <div id="form-container">
        
        <div class="right-section">

            <form method="POST">

                <h1 class="logo-heading">
                    <span class="quiz">Quiz</span>
                    <sup class="super-heading">Craft</sup>
                </h1>

                <div class="form-content">
                    <label for="role">ROLE</label>
                    <select id="role" name="role">
                        <option value="pleaseSelect">Please Select</option>
                        <option value="admin">Admin</option>
                        <option value="user">User</option>
                    </select>
                </div>

                <div class="form-content">
                    <label for="username">USER NAME</label>
                    <input type="text" id="username" name="username" required='required'>
                </div>
                
                <div class="form-content">
                    <label for="password">PASSWORD</label>
                    <input type="password" id="password" name="password" required="required">
                </div>
    
                <div class="form-content">
                    <p style="font-family: 'Monotype Corsiva'; font-style: italic;"><b>No Account?</b><a href="{{ url_for('signup') }}"><b>Sign Up</b></a></p>
                    <button id="submitButton">Login</button>
                </div>

            </form>

        </div>

    </div>
{% endblock %}