{% extends 'userBase.html' %}

{% block title %}
Active Quizzes
{% endblock %}

{% block link %}
{{ url_for('static', filename = 'src/userDisplaySubjects.css') }}
{% endblock %}

{% block bodyContent %}
    
    <div class="subjects">
        {% for subjects in subject %}

            <div class="sub-container">

                <div class="image">
                    {% if subjects.subject_image %}
                        <img src="{{ url_for('static', filename=subjects.subject_image) }}" alt="{{ subjects.name }}'s image"> 
                    {% else %}
                        <img src="{{ url_for('static', filename='whereIsTheSubjectImage.jpg') }}" alt="no subject image">
                    {% endif %}
                </div>
                

                <div class="sub-name">
                    <h1><a class="sub-name-redirect" href="{{ url_for('show_user_subject', userID = user.id, subjectID = subjects.subject_id) }}">{{ subjects.name }}</a></h1>
                </div>

                <div class="sub-description">
                    <p>
                        {{ subjects.description }}
                    </p>
                </div>

            </div>
            
        {% endfor %}
    </div>

{% endblock %}

