{% extends 'userBase.html' %}

{% block title %}
Edit Profile
{% endblock %}

{% block link %}
{{ url_for('static', filename = 'src/userEditProfile.css') }}
{% endblock %}

{% block bodyContent %}

    <div class="edit-sub-form">
        <form method="POST" enctype="multipart/form-data">
            <div class="form-content">
                <div class="upload-container">
                    <label for="userImage" class="upload-box">
                        <span>UPDATE PROFILE PHOTO</span>
                        <input type="file" id="userImage" name="userImage">
                    </label>
                </div>
                <div class="text-fields">
                    <div class="field-group">
                        <label for="userEmail">EMAIL</label>
                        <input type="text" id="userEmail" name="userEmail">
                    </div>
                    <div class="field-group">
                        <label for="userQualification">QUALIFICATION</label>
                        <input type="text" id="userQualification" name="userQualification">
                    </div>
                    <div class="field-group">
                        <label for="userPassword">PASSWORD</label>
                        <input type="password" id="userPassword" name="userPassword">
                    </div>
                    <div class="field-group">
                        <label for="userConfirmPassword">CONFIRM PASSWORD</label>
                        <input type="password" id="userConfirmPassword" name="userConfirmPassword">
                    </div>
                    <div>
                        <button type="submit" id="submitButton">Confirm Changes</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    
{% endblock %}
